<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/main.css"/>
    <title><%=title %></title>
</head>
<body class="light">
    <header class="bg-info mb-3 header">
        <section class="container clearfix">
            <% if (user) { %>
            <h4 class="float-left text-white my-3"><%= user.username %></h4>
            <a class="float-right text-white my-3" href="" id="logout">
                Logout
            </a>
            <% } else { %>
            <a class="float-right text-white my-3" href="/login" id="login">
                Logout
            </a>
            <% } %>
        </section>
    </header>
    <section class="chat">
        <div class="container">
            <ul class="list-group pl-3 row" id="list"></ul>
            <form class="form-group py-5 row" id="form">
                <p class="col-10"><input type="text" autofocus class="form-control form-input"></p>
                <p class="col-2"><button type="submit" class="btn btn-info">Submit</button></p>
            </form>
        </div>
    </section>
    <footer></footer>
    <script src="javascripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
</body>
</html>