<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
    <title><%=title %></title>
</head>
<body>
    <header class="bg-info mb-3">
        <section class="container clearfix">
            <% if (user) { %>
            <h4 class="float-left text-white my-3"><%= user.username %></h4>
            <a class="float-right text-white my-3" href="" id="logout">
                Logout
            </a>
            <% } else { %>
            <a class="float-right text-white my-3" href="/login" id="login">
                Login
            </a>
            <% } %>
        </section>
    </header>
    <section class="container">
        <p>Welcome to <%= title %></p>
    </section>
    <footer></footer>
    <script src="javascripts/index.js"></script>
</body>
</html>